body {
    background-color: black;
    color: white;
    margin: 0;
    font-family: Arial, sans-serif;
}

img {
    max-width: 15%;
    height: auto;
    margin: 2% auto; 
    display: block;
    align-self: center;
}

h1, t1 {
    font-size: 3.5vw;
    padding-top: 2rem;
    text-align: center;
}

.content {
    min-height: 60vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    padding: 0 1rem; 
}

.content p {
    text-align: center;
    max-width: 80%;
    font-size: 2vw;
}

.links_1 {
    text-align: center; 
    margin-top: 3%;
}

.links_1 a {
    margin: 0 5rem;
    font-size: 1.5vw;
}

.links_1 a:visited {
    color: #fff; 
}

.footer_content {
    background-color: #000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    padding: 1rem;
}

.footer_content button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.footer_content p {
    margin-right: 1rem;
}

.footer_content .left,
.footer_content .right {
    display: flex;
    align-items: center;
}

.footer_content .right a {
    margin-left: 10px;
}

.footer_content .right a img {
    max-width: 40px;
}

.column-hidden { 
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 75%; 
    text-align: center;
    border-color: #fff;
}

.column-hidden.show {
    display: none;
}
